h1,
h2,
h3,
p {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: 500;
}

h1 {
  font-size: clamp(3rem, 8vw, 98px);
  letter-spacing: -0.04em;
  line-height: 100%;
}

h2 {
  font-size: clamp(2.5rem, 5vw, 64px);
  letter-spacing: -0.04em;
  line-height: 1.1;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.02em;
}

p {
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.4;
}

.italic-serif {
  font-family: var(--font-serif);
  font-style: italic;
  font-weight: 400;
}
